@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


section {
    padding: 100px 200px;
    margin: 10px;
}






.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects {
    background-color:#fff;
}

.projects .content{
    margin-top: 10px;
}

.project-card {
    background-color:#fff;
    border: 1px solid #fff;
    min-height: 280px;
    width: 8.25em;

    overflow: hidden;
    border-radius: 10px;
    margin:10px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}





.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 8.25em;

}


#as{
    width: 5.25em;
    height: 100px;
    margin-left: 5px;
    margin-top: -270px;
    transition: 1s;
align-items: center;


}
#as:hover{
    margin-top:0px;

}
#as button{
    padding: 0px;
width: 100px;
font-size: 12px;
border: 1px solid #a08e6b ;
margin-top: 2px;
text-align: center;
border-radius:16px 16px 16px 16px;
color: #a08e6b;
transition: 1s;
}
#as button:hover{
    color: #18442e;
    border: 1px solid #18442e ;
    transform: scale(1.1);

}
#as .font{
    color: #a08e6b;
}
#as .font:hover{
   color: #fff;
}